@font-face {
    font-family: "Black";
    src: url(..//fonts/Urbanist-Black.ttf);
}

@font-face {
    font-family: "Bold";
    src: url(..//fonts/Urbanist-Bold.ttf);
}

@font-face {
    font-family: "Meduim";
    src: url(..//fonts/Urbanist-Medium.ttf);
}

@font-face {
    font-family: "Regular";
    src: url(..//fonts/Urbanist-Regular.ttf);
}

@font-face {
    font-family: "SemiBold";
    src: url(..//fonts/Urbanist-SemiBold.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;

}

.container {
    max-width: 1596px;
    margin: 0 auto;
}

body {
    background: var(--Green-97, #FAFDF2);
}

/* header */
header {
    background: var(--Dark-Green-15, #1A3129);
    padding: 20px 0;

}

.header-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 26px;
}

.active {
    color: var(--Green-70, #CBEA7B);
    ;
    font-size: 18px;
    font-family: "SemiBold";
    line-height: 150%;
}

nav a {
    color: var(--Green-97, #FAFDF2);
    font-size: 18px;
    font-family: "SemiBold";
    line-height: 150%;
}

nav a:hover {
    transition: .7s;
    color: var(--Green-70, #CBEA7B);
    ;
}

nav a :not(:hover) {
    transition: .7s;
}

/* header */

/* banner */
.banner-text {
    padding-top: 200px;
    padding-bottom: 80px;
}

.banner-text h1 {
    text-align: center;
    color: var(--Grey-15, #262626);
    font-family: "Bold";
    font-size: 48px;
    line-height: 150%;
}

.banner-text p {
    color: var(--Grey-20, #333);
    text-align: center;
    font-family: "Meduim";
    font-size: 18px;
    line-height: 150%;
    padding-top: 10px;
}

/* banner */

/* comment */
.comment-block {
    border-radius: 16px;
    border: 1px solid #EEF8D3;
}

.comment-text {
    padding: 40px;

}

.comment-text p {
    color: var(--Grey-20, #333);
    font-family: "Meduim";
    font-size: 18px;
    text-align: center;
    line-height: 150%;

}

.comment-img {
    background: var(--Green-95, #F6FBE9);
    padding: 30px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding-bottom: 50px;
}

.comment-img img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.comment-img p {
    color: var(--Dark-Green-15, #1A3129);
    font-family: "SemiBold";
    font-size: 18px;
    line-height: 150%;
}

.comment-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 187px;
}

/* comment */

/* prising */
.prising-text h2 {
    color: var(--Grey-15, #262626);
    text-align: center;
    font-family: "Bold";
    font-size: 48px;
    line-height: 150%;
}

.prising-text p {
    padding-top: 10px;
    color: var(--Grey-20, #333);
    text-align: center;
    font-family: "Meduim";
    font-size: 18px;
    line-height: 150%;
    padding-bottom: 80px;
}

.prising-button {
    border-radius: 8px;
    border: 1px solid var(--Green-80, #DCF1A7);
    display: flex;
    padding: 10px;
    align-items: center;

}

.but {
    padding: 10px 24px;
    color: var(--Absolute-White, #FFF);
    font-family: "SemiBold";
    font-size: 18px;
    line-height: 150%;
    border-radius: 6px;
    background: var(--Dark-Green-20, #234338);
    margin-right: 24px;
}

.but1 {
    color: var(--Grey-30, #4C4C4C);
    font-family: "SemiBold";
    font-size: 18px;
    line-height: 150%;

}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;

}

.prising-button {
    width: 233px;
    text-align: center;
    margin-bottom: 14px;
}

.prising-txt p {
    color: var(--Grey-30, #4C4C4D);
    text-align: center;
    font-family: "Meduim";
    font-size: 18px;
    line-height: 150%;
}

/* prising */

/* cards */
.cards {
    padding-bottom: 294px;
}

.card {
    border-radius: 12px;
    border: 1px solid var(--Green-90, #EEF8D3);
    background: var(--Green-95, #F6FBE9);
    padding: 50px;
    width: 512px;
    height: 497px;

}

.cards-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card h3 {
    color: var(--Grey-15, #262626);
    font-family: "SemiBold";
    font-size: 30px;
    line-height: 150%;
    padding-bottom: 2px;
    font-weight: 600;

}

.card h4 {
    color: var(--Grey-30, #4C4C4D);
    font-family: "Meduim";
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
}

.card p {
    color: var(--Grey-15, #262626);
    font-family: "Meduim";
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    padding: 40px 0;
}

span {
    color: var(--Dark-Green-25, #2C5446);
    font-family: "Bold";
    font-size: 50px;
    font-weight: 700;
    line-height: 87.523%;
}

.card h6 {
    color: var(--Grey-20, #333);
    font-family: "Meduim";
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    padding-bottom: 33px;
}

.btn {
    border-radius: 8px;
    background: var(--Green-70, #CBEA7B);
    display: flex;
    padding: 18px 41px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    color: var(--Grey-15, #262626);
    font-family: "SemiBold";
    font-size: 18px;
    font-weight: 600;
}

/* cards */

/* FAQ */
.faq h2 {
    color: var(--Grey-15, #262626);
    text-align: center;
    font-family: "Bold";
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 75px;
}

.faq p {
    padding: 10px 0 80px 0;
    color: var(--Grey-20, #333);
    text-align: center;
    font-family: "Meduim";
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.faq-block {
    border-radius: 12px;
    border: 1px solid var(--Green-85, #E5F5BD);
    background: var(--Green-95, #F6FBE9);
    padding: 60px;
    height: 454px;
    margin-bottom: 75px;
}

.faq-card1 {
    display: flex;
    flex-direction: column;
}

.faq-card1 h4 {
    color: var(--Grey-15, #262626);
    font-family: "SemiBold";
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
    height: 48px;
}

.faq-card2 h4 {
    color: var(--Grey-15, #262626);
    font-family: "Meduim";
    font-size: 20px;
    font-weight: 500;
    height: 48px;
    padding-top: 12px;
}

.faq-card3 h4 {
    color: var(--Grey-15, #262626);
    font-family: "Meduim";
    font-size: 20px;
    font-weight: 500;
    height: 48px;
    padding-top: 12px;

}

.faq-card1 h5 {
    color: var(--Grey-20, #333);
    font-family: "Meduim";
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    text-align: left;

}

.str {
    width: 1476px;
    height: 1px;
    background: #E5F5BD;
    margin: 28px 0;
}